select {
    height: 32px;
    border: 1px solid #bbbbbb;
    padding-left: 16px;
    padding-right: 16px;
    outline: none;
    box-sizing: border-box;
    color: #000000;
    font-family:  notosans-semibold;
    padding-left: 16px;
}

select:hover {
        border-color: #019160;
    }
option:hover{
    color: #019160;
}